# URL del Web App desplegado en Google Apps Script
# Reemplaza con la URL que obtienes al hacer "Deploy > New deployment" en GAS
PUBLIC_GAS_WEB_APP_URL=https://script.google.com/macros/s/TU_DEPLOYMENT_ID/exec
